Language: Cpp
BasedOnStyle: microsoft
NamespaceIndentation: None
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AccessModifierOffset: -4
PointerBindsToType: true
SortIncludes: false
AllowShortLambdasOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes